<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--
This is the TestNG suite configuration file for running automated tests on the FITPeo application.
It includes configuration for listeners, test classes, and specific test methods to be executed.
-->
<suite name="Automation On FITPeo">
    <!--
    Define listeners that provide custom behavior during the test execution process.
    The ListenersClass is used to log the start, success, and failure of each test case.
    -->
    <listeners>
        <listener class-name="soubhagya0399.ME_QA_FITPEO.ListenersClass"></listener>
    </listeners>
    
    <!--
    Define a test group named "Automation On FITPeo".
    This test group contains the classes and methods to be executed as part of this test.
    -->
    <test name="Automation On FITPeo">
        <!--
        Specify the classes containing the test methods.
        In this case, we are including the AppTest class which contains our test cases.
        -->
        <classes>
            <class name="soubhagya0399.ME_QA_FITPEO.AppTest"/>
            
            <!--
            Define the specific methods to be included from the AppTest class.
            Here, we include the TestCase01 method to be executed.
            -->
            <methods>
                <include name="TestCase01"></include>
            </methods>
        </classes>
    </test> <!-- ParallelTesting -->
</suite> <!-- Suite -->